# internal, unless forced
.*
# cross test harness artifacts
testdir
.test*
*.log
**/*.log

# allow
!.github
!.specify
!.gitignore
!.goreleaser.yaml


# builds
src-go/git-cross-go
src-rust/git-cross-rust
src-rust/target
